# Entornos virtuales (Python)
venv/
.venv/
env/
__pycache__/
*.py[cod]

# Dependencias de Node.js
node_modules/
npm-debug.log*

# Variables de entorno (¡MUY IMPORTANTE! Nunca subas tus llaves/claves)
.env
.flaskenv

# Archivos del sistema
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs y temporales
*.log
tmp/
dist/
build/